* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}
.main {
    width: 100%;
    height: 70vh;
}
.mascotte2{
    width: 18vh;
    position: absolute;
    top: 80vh;
    left: 5vw;
}
svg {
    height: 40%;
    width: 40%;
    position: absolute;
    margin-left: -10vw;
  }
  path {
    fill: white;
    stroke: black;
    stroke-width: 2;
    stroke-linejoin: round;
  }
  path:hover {
    fill: aliceblue;
    stroke: rgb(171, 250, 135);
  }
html {
    background-color: #D2FEFF;
    overflow-x: hidden;
}

.invoer{
    margin: 10vh 20vw 0vh 30vw;
    width: 50vw;
    height: 20vh;
}
.Bereken-knop{
    margin: 3vh 0vw 0vh 30vw;
    width: 25vw;
    height: 5vh;
    font-size: 20px;
}
.Clear{
   
    width: 25vw;
    height: 5vh;
    font-size: 20px;
}
.uitvoer{
    margin: 3vh 20vw 0vh 30vw;
    width: 50vw;
    height: 20vh;
}
.kopstuk{
    border: 1px solid black;
    margin: 5vh 0vw 0vh 45vw;
    text-align: center;
    width: 20vw;
    padding: 10px;
    background-color: white;
    font-size: 30px;
}
.Tafels{
    margin: 5vh 0 0 35vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}
.Tafels:hover {
    background-color: lightblue;
}
.Machtreeks{
    margin: 0vh 0 0 3vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}
.Machtreeks:hover {
    background-color: lightblue;
}
.Breukenreeks{
    margin: 0vh 0 0 3vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}
.Breukenreeks:hover {
    background-color: lightblue;
}
.Kwadratenreeks{
    margin: 0vh 0 0 3vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}
.Kwadratenreeks:hover {
    background-color: lightblue;
}
.omreken{
    margin: 0vh 0 0 3vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}
.omreken:hover {
    background-color: lightblue;
}
.fact{
    margin: 0vh 0 0 3vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}
.fact:hover {
    background-color: lightblue;
}
.Fabonacci{
    margin: 0vh 0 0 3vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}
.Fabonacci:hover {
    background-color: lightblue;
}
.Priemgetallen{
    margin: 0vh 0 0 3vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}
.Priemgetallen:hover {
    background-color: lightblue;
}
#form {
    position: relative;
  
}
.knoppen {
    position: relative;
    left: -95px;
}
.knoppen2 {
    position: relative;
    left: 450px;
    top: 30px;
}
.knoppen3 {
    position: relative;
    left: 500px;
    top: 30px;
}
footer {
        position: relative;
        background-color: black;
        height: 10vh;
        text-align: center;
        color: white;
        padding: 50px;
        bottom: -60vh;
}
@media screen and (max-width: 1260px) {
    .bigscreen {
        display: none;
    }
}

