html {
  background-color: #D2FEFF;
  overflow-x: hidden;
  }
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .logo {
    position: relative;
    width: 150px;
    float: left;
    padding-right: 250px;
    padding-left: 10px;
    z-index: 5;
}
.naam {
  position: relative;
  left: -200px;
  top: 65px;
}
  .topnav {
    z-index: 10;
  }
  .topnav a {
    position: relative;
    float: left;
    display: block;
    color: black;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    border: 1px black solid;
    background-color: whitesmoke;
    z-index: 10;
  }
  
  .topnav a:hover {
    background-color: lightblue;
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }

.mascotte, .mascotte2{
width: 10vh;
position: absolute;
left: -100px;
top: 335px;
}
.mascotte2{
  width: 10vh;
  position: absolute;
  left: -100px;
  top: 120px;
  }
footer {
background-color: black;
height: 30vh;
text-align: center;
color: white;
padding: 50px;
position: relative;
top: 100vh;
}
.flex{
  position: absolute;
  top: 40vh;
  left: 35%;
  flex-direction: column;
  min-width: 300px;
  justify-content: center;
  align-self: center;
  align-content: center;
}
.priem, .fibonacci, .factor, .factoren, .macht {align-self: center;}
.flex {left: 410px;}
#d2, #d3 {
  background-color: white;
  border: 1px black solid;
  height: 50px;
}
p{
  position: relative;
  left: 410px;
}
.plus{
  position: absolute;
  top: 40vh;
  width: 20vh;
  left: 38%;
}
  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      position: relative;
      top: -100px;
    }
    .topnav {
      position: relative;
      left: 20px;
    }
    .naam{
      position: relative;
      left: 180px;
      top: -90px;
      height: 50px;
      width: 200px;
    }
    
  .mascotte{
    position: relative;
    left: -35vw;
    top: -350px;
    display: none;
  }
  .mascotte2 {
    display: none;
  }
   .flex{
     left: 50px;
     top: 290px;
   }
   .titel {
     position: relative;
     left: 50px;
     top: -50px;
   }
   p{
     left: 50px;
     top: -70px;
   }
      footer {
        top: 300px;
        width: 89%;
        }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


