* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}
.logo {
    width: 100px;
}
.naam {
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    margin-right: 5vh;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; 
    height: 80px;
}
.bigscreen {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-right: 16px;
}
.bigscreen a {
    position: relative;
    border: 1px black solid;
    text-align: center;
    text-decoration: none;
    padding: 12px 24px;
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}
.banner{
        width: 100%;
        height: 50vh;
        display: grid;
        place-items: center;
        background: url('../images/banner.png');
}
.welkom {
    font-size: 35px;
    width: 100%;
    place-items: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.wat {
    position: relative;
    font-size: 25px;
    width: 60vw;
    left: 1vw;
    top: 7vh;
    font-family: 'Raleway', sans-serif;
}

.main {
    width: 100%;
    height: 70vh;
}


.balloon {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50vw;
    height: 20vh;
    background-color: white;
    border-radius: 50px;
    border: 1px black solid;
    justify-content: space-around;
    left: 28vh;
}

.balloon h1 {
    padding: 1rem;
    margin-left: 30%;
}

.balloon p {
    padding: 2rem;
    width: 50vw;
    left: 2vw;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.mascotte{
    width: 15vh;
    position: absolute;
    left: 2vh;
    top: 13vh;
}
.mascotte2{
    width: 18vh;
    position: absolute;
    top: 60vh;
    left: 5vw;
}
svg {
    height: 40%;
    width: 40%;
    position: absolute;
    margin-left: -10vw;
  }
  path {
    fill: white;
    stroke: black;
    stroke-width: 2;
    stroke-linejoin: round;
  }
  path:hover {
    fill: aliceblue;
    stroke: rgb(171, 250, 135);
  }
html {
    background-color: #D2FEFF;
}

.invoer{
    margin: 10vh 20vw 0vh 30vw;
    width: 50vw;
    height: 20vh;
}
.Bereken-knop{
    margin: 3vh 0vw 0vh 30vw;
    width: 25vw;
    height: 5vh;
    font-size: 20px;
}
.Clear{
   
    width: 25vw;
    height: 5vh;
    font-size: 20px;
}
.uitvoer{
    margin: 3vh 20vw 0vh 30vw;
    width: 50vw;
    height: 20vh;
}
.kopstuk{
    border: 1px solid black;
    margin: 5vh 0vw 0vh 45vw;
    text-align: center;
    width: 20vw;
    padding: 10px;
    background-color: white;
    font-size: 30px;
}
.Tafels{
    margin: 5vh 0 0 35vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}

.Machtreeks{
    margin: 0vh 0 0 3vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}

.Breukenreeks{
    margin: 0vh 0 0 3vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}

.Kwadratenreeks{
    margin: 0vh 0 0 3vw;
    padding: 5px;
    font-size: 25px;
    background-color: white;
}


@media screen and (max-width: 1260px) {
    .bigscreen {
        display: none;
    }
}

