* _{
    margin: 0;
    padding: 0;
}
.logo {
    display: flex;
    position: relative; 
    width: 10vw;
    justify-self: center;
}
.naam {
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.bigscreen {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}
.header{
    display: flex;
    flex-direction: row;
}
.bigscreen a {
    display: flex;
    position: relative;
    border: 1px black solid;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    background-color: white;
    width: 10vw;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}
.banner{
        width: 100%;
}
.welkom{

}
.wat{

}
.balloon {
    display: grid;
    position: relative;
    grid-area: info;
    width: 50vw;
    height: 20vh;
    background-color: white;
    border-radius: 50px;
    border: 1px black solid;
    justify-content: space-around;
}
.balloon p {
    position: relative;
    width: 50vw;
    left: 2vw;
    font-family: 'Raleway', sans-serif;
}
.mascotte{
    width: 10vh;
}

